@{
    ViewData["Title"] = "Om sidan";
}

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <p class="text-center">Denna webbplats är en exempel webbplats att demostrera dotnet Enity Frameword core.
        Webbplatsen hanterar böcker,
        användaren, författare samt lån av böcker.</p>

    <article>
        <h2>Databas</h2>
        <p>Databasen är en SQLite databas</p>
        <h3>Databasens relationer</h3>
        <ul>
            <li>Författarens id används som foreign key till tabellen för böcker.</li>
            <li>Bokens id och användarens id används som foreign key till tabellen för boklån.</li>
            <li>Författarens id används som foreign key till tabellen för böcker.</li>
        </ul>
    </article>
</div>
